/*Para el header principal de los participantes*/
@font-face {
    font-family: 'poppins-bold';
    src: url('../static/fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'poppins-light';
    src: url('../static/fonts/Poppins-Light.ttf');
}

* {
    transition: all 0.5s ease-in-out;
}
body {
    margin: 0;
    font-family: 'poppins-light';

}
h1{
    font-size: 1.5rem;
    padding-top: 1em;
    padding-left: 1em;
}
h4 
{
    text-align: center;
}
form 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
form button 
{
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    border: 1px solid transparent;
    border-radius: 1em;
    padding: 0.5em 3em 0.5em 3em;
    font-family: 'poppins-bold';
    transition: 1s;

}
form button:hover 
{
    transform: scale(1.1);
    color: white;
    background-color: black;
}
.main_header {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DAE2B6;
}
a {
    text-decoration: none;
    font-family: 'poppins-light';
}



.icono_image_text {
    margin: 5%;
    max-width: 40%;
    max-height: 40%;
}


.icono_image_logo {
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 20%;
    max-height: 40%;
}

h2,
h3 {
    padding-top: 0.5em;
    padding-left: 0.5em;
    font-family: 'poppins-bold';
}


#usuario_imagen {

    height: 50px;
    width: 50px;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 1em;
    margin-top: 1em;
}

@media (max-width: 600px) {
    .icono_image_text {
        margin: 5%;
        max-width: 50%;
        max-height: 50%;
    }


    .icono_image_logo {
        margin-left: 5%;
        margin-top: 2%;
        margin-bottom: 2%;
        max-width: 20%;
        max-height: 20%;
    }

    #usuario_imagen {

        height: 30px;
        width: 30px;
    }

}
@media (max-width: 400px) {
    .icono_image_text {
        margin: 5%;
        max-width: 50%;
        max-height: 50%;
    }

    .icono_image_logo {
        margin-left: 5%;
        margin-top: 2%;
        margin-bottom: 2%;
        max-width: 20%;
        max-height: 20%;
    }

    #usuario_imagen {

        height: 30px;
        width: 30px;
    }

}

/*Contenido de la vista*/

main {
    background-color: pink;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 1em;
   
}

.product-fetches 
{
    width: 50%;
    height: 40%;
    background-color: red;
}

.summary
{
    width: 100%;
    height: 60%;
    background-color: blue;
}

.container
{
    display: flex;
    flex-direction: column;
}

/*boton de finalizar evento*/
.event-end-container {
    padding: 1em;
    width: 100%;
    margin: auto;
    justify-content: center;
}

.event-end
{
    background-color: #43766C;
    border-radius: 10px;
    width: 50%;
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    padding: 0.5em;
    text-decoration: none;
    color: white;
    font-family: 'poppins-bold';
    top: 1em;
}

