{% extends "layout.html" %}
{% block css_principal %}{% endblock %}
{% block title %}Consumo evento{% endblock %}

{% block head %}
<div class="user">
  <img id="evento_imagen" src="static/logos/evento.svg" alt="">
  <h4><a href="/usuario">¡Hola, {{session["username"]}}!</a></h4>
  <form action="/logout">
    <button type="submit">Log out</button>
  </form>
</div>
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="static/styles_consumo_evento.css">
{% endblock %}

{% block content %}
<h1>Nombre_evento</h1>
<main>
  <main>
    <form>
        <div class="form-group">
            <label for="categoria">Categoría</label>
            <input type="text" id="categoria" placeholder="Cantidad" class = "input">
        </div>
        <div class="form-group">
            <label for="producto">Producto</label>
            <input type="text" id="producto" placeholder="Escribe un producto" class = "input">
        </div>
        <div class="form-group">
            <label for="precio">Precio unitario</label>
            <input type="text" id="precio" placeholder="C$" class = "input">
        </div>
        <div class="form-group">
            <label for="cantidad">Cantidad consumida</label>
            <input type="text" id="cantidad" placeholder="Cantidad" class = "input">
        </div>
        <div class="form-group">
            <label>Compartido por:</label>
            <div class="radio-group">
                <label><input type="radio" name="compartido" value="elo"> Elo</label>
                <label><input type="radio" name="compartido" value="adi"> Adi</label>
                <label><input type="radio" name="compartido" value="gabs"> Gabs</label>
            </div>
        </div>
        <button type="button" class="btn agregar-consumo">Agregar consumo</button>
        <button type="button" class="btn agregar-producto">Agregar producto nuevo</button>
    </form>
    <section class="participants">
        <h3>Participantes:</h3>
        <ul>
            <li>Elote_quemuele 0 C$</li>
            <li>Adilia_quesillo 0 C$</li>
            <li>Oneyda_DBdeveloper 0 C$</li>
        </ul>
    </section>
    <section class="summary">
        <h3>Resumen:</h3>
        <div class="summary-content">
            <span>Total:</span>
            <span>C/persona:</span>
        </div>
        <p>Consumido por Usuario1, Usuario2, Usuario3</p>
    </section>
    <button class="btn finalizar-evento">Finalizar evento</button>
</main>
{% endblock %}