{% extends "layout.html" %}
{% block css_principal %}{% endblock %}
{% block title %}Consumo evento{% endblock %}

{% block head %}
<div class="user">
  <img id="evento_imagen" src="static/logos/evento.svg" alt="">
  <h4><a href="/usuario">¡Hola, {{session["username"]}}!</a></h4>
  <form action="/logout">
    <button type="submit">Log out</button>
  </form>
</div>
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="static/styles_consumo_evento.css">
{% endblock %}

{% block content %}
<h1>Nombre_evento</h1>
<main>
  <section class="info">
    <div class="inputs">
        <div class="consumos">
            <label for="">categoria</label>
            <input type="text">
            <label for="">producto</label>
            <input type="text">
            <label for="">precio unitario</label>
            <input type="text">
            <label for="">ejemplo</label>
            <input type="text">
        </div>
        <div class="botones_consumo">

        </div>
    </div>
    <div class="participants">

    </div>
  </section>
  <section class="resumenes">

  </section>
</main>
<div class="button-container">

</div>
{% endblock %}