{% extends "layout.html" %}
{% block css_principal %}
<script src="/static/scripts/dom-to-image.min.js" ></script>
<script src="/static/scripts/cuentaFinal.js" ></script>


{% endblock %}
{% block title %}Cuenta final{% endblock %}

{% block head %}
<div class="user">
    <h4><a href="/usuario">¡Hola, {{session["username"]}}!</a></h4>
    <form action="/logout">
        <button type="submit">Log out</button>
    </form>
</div>
{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="/static/styles_cuenta_final.css">
{% endblock %}

{% block content %}
<h1 id="titulo_nombre_evento">{{nombre_evento}}</h1>
<td colspan="4" class="border-0">
    <div class="button-container">
        <button class="button-total" onclick="descargarContenido()">Descargar contenido</button>
    </div>
</td>
<main>
    {% for record in data %}
    <table class="table cuenta_final">
        <thead>
            <h5>{{record["nombre_participante"]}}</h5>
            <tr>
                <th class="text-center align-middle">Producto</th>
                <th class="text-center align-middle">Precio</th>
                <th class="text-center align-middle">Cantidad</th>
                <th class="text-center align-middle">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for row in record["consumos"]%}
            <tr>
                <td class="text-start">{{row[0]}}</td>
                <td class="text-center align-middle">C${{row[1] | round(2)}}</td>
                <td class="text-center align-middle">{{row[2]}}</td>
                <td class="text-center align-middle">C${{row[3] | round(2)}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Subtotal persona</td>
                <td class="border-0 text-center align-middle">C${{record["subtotal"] | round(2)}}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Impuesto</td>
                <td class="border-0 text-center align-middle">C${{record["total_impuesto"] | round(2)}}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Propina</td>
                <td class="border-0 text-center align-middle">C${{record["total_propina"] | round(2)}}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Total persona</td>
                <td class="border-0 text-center align-middle">C${{record["total"] | round(2)}}</td>
            </tr>
        </tfoot>
    </table>
{% endfor %}
</main>


{% endblock %}