{% extends "layout.html" %} 
{% block content %}
<main class="main_container">

    <section class="main_introduccion margin_section">
        <h2>Introducción</h2>
        <p class="text_container">¡Bienvenidos a Fifty/Fifty, la solución perfecta para dividir cuentas entre
            amigos, familiares y compañeros de trabajo! ¿Cansado de los malos ratos al repartir gastos? Nuestra
            página web te permite ingresar a las personas y sus consumos, y en segundos obtienes una división
            justa y precisa. Con Fifty/Fifty, olvídate de las discusiones y los cálculos complicados. Nuestra
            plataforma es rápida, intuitiva y accesible desde cualquier dispositivo. Perfecta para cenas, viajes
            o cualquier evento compartido. ¡Haz que cada encuentro sea memorable por las razones correctas!
            Prueba Fifty/Fifty y disfruta de la armonía y la justicia en cada evento. ¡Empieza hoy mismo y
            vive la diferencia! xd</p>
    </section>

    <section class="main_equipo margin_section">
        <h2>Conoce al equipo</h2>
        <div class="equipo_imagenes">

            <span class="equipo_imagen">
                <img src="static/images/gabriela.jpg" alt="">
                <h3>Gabriela Quintero</h3>
                <p>Desarrollo Frontend y Diseño</p>
            </span>

            <span class="equipo_imagen">
                <img src="static/images/oneyda.jpg" alt="">
                <h3>Oneyda Valle</h3>
                <p>Gestión y Control de la Base de Datos</p>
            </span>

            <span class="equipo_imagen">
                <img src="static/images/Mayrin2.jpg" alt="">
                <h3>Mayrin Téllez</h3>
                <p>Desarrollo Backend y Arquitectura</p>
            </span>

        </div>
    </section>

    <section class="main_mision margin_section">
        <h2>Misión</h2>
        <p class="text_container">Facilitar la división equitativa de gastos entre personas, eliminando el
            estrés y las complicacionesasociadas con repartir cuentas. Nos dedicamos a ofrecer una herramienta
            intuitiva y eficiente que promueva la justicia y la armonía en cualquier tipo de evento, permitiendo
            a nuestros usuarios disfrutar plenamente de sus momentos especiales sin preocuparse por los detalles
            financieros.</p>
    </section>

    <section class="main_vision margin_section">
        <h2>Visión</h2>
        <p class="text_container">Convertirnos en la plataforma líder mundial para la gestión y división de
            gastos compartidos, reconocida por nuestra precisión, facilidad de uso y accesibilidad. Aspiramos a
            transformar la manera en que las personas manejan sus finanzas grupales, creando un mundo donde los
            malos entendidos y las discusiones por dinero sean cosa del pasado. Queremos que Fifty/Fifty sea
            sinónimo de confianza y tranquilidad en cada evento compartido.</p>
    </section>

</main>

<footer>

    <h3>Copyright © Fifty/Fifty</h3>
    
</footer>
{% endblock %}