{% extends "layout.html" %}
{% block css_principal %}{% endblock %}
{% block title %}Participantes{% endblock %}

{% block head %}
<div class="user">
    <h4>¡Hola, {{session["username"]}}!</h4>
    <form action="/logout">
        <button type="submit">Log out</button>
    </form>
</div>
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="static/styles_participantes.css">
{% endblock %}


{% block content %}
<h1>Nombre_Evento</h1>
<main>
    <section class="event-container">
            <form>
                <label for="participants">Participantes (nombre usuario o e-mail)</label>
                <select id="participants" class="input">
                    <option>Placeholder</option>
                </select>
                <div class="form-group">
                    <label for="invited">Invitados(nombre)</label>
                    <input type="text" id="invited" class="input">
                </div>
                <div class="participants">
                    <button id="add-participants">Agregar participantes</button>
                </div>
            </form>
    </section>
    <div class="vertical-line"></div>
    <section class="participants-list">
            <h2>Participantes:</h2>
            <ul>
                <li>Elote_quemuele <span class="remove">x</span></li>
                <li>Adilia_quesillo <span class="remove">x</span></li>
                <li>Oneyda_DBdeveloper <span class="remove">x</span></li>
                <li>Mayrinn_prodigy <span class="remove">x</span></li>
                <li>Gabs_quecrispa <span class="remove">x</span></li>
            </ul>
    </section>
</main>
<div class="event-div">
    <button class="go-to-event">Ir al evento</button>
</div>
{% endblock %}