{% extends "layout.html" %}
{% block css_principal %}{% endblock %}
{% block title %}Eventos{% endblock %}

{% block head %}
<div class="user">
    <img id = "usuario_imagen" src="static/logos/usuario.svg" alt="">
    <h4>¡Hola, nombre_usuario!</h4>
</div>
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="static/styles_sineventos.css">
{% endblock %}

{% block content %}
<main class="event-container">
        <div class="no-events-message">
            <p>Oops, no hay eventos registrados aún.</p>
            <p>¡Toca <span class="plus-icon">+</span>para crear un nuevo evento!</p>
        </div>
    
    <div class="add-button" onclick="changeColor()">
        <span>+</span>
    </div>
</main>
<script>
    function changeColor() {
        document.querySelector('.add-button').classList.toggle('clicked');
    }
    console.log("a");
    console.log(sessionStorage.getItem('loggedIn'));
</script>
{% endblock %}
