{% extends "layout.html" %}
{% block css_principal %}{% endblock %}
{% block title %}Eventos{% endblock %}

{% block head %}
<div class="user">
    <h4>¡Hola, {{session["username"]}}!</h4>
    <form action="/logout">
        <button type="submit">Log out</button>
    </form>
</div>
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="static/styles_usuario.css">
{% endblock %}

{% block content %}
<section class="registro">
    <div class="contenedor-registro">
        <h3>¿Quieres cambiar tu contraseña?</h3>
        <form id ="form">
            <label for="password_actual">Ingresa contraseña actual:</label>
            <input type="password" class="input" name="password_actual" id="password_actual"
                placeholder="Contraseña actual">
            <label for="password_nueva">Ingresa nueva contraseña:</label>
            <input type="password" class="input" name="password_nueva" id="password_nueva"
                placeholder="Ingresa tu nueva contraseña">
            <label for="password_confirm">Confirma cambio de contraseña:</label>
            <input type="password" class="input" name="password_confirm" id="password_confirm"
                placeholder="Confirma cambio de contraseña">
            <div class="changepasscont">
                <button type="submit" class="boton_cambiocontrasena" id = "contrasena" disabled>Cambiar contraseña</button>
            </div>
        </form>
    </div>

</section>

{% endblock %}
{% block script %}
<script src="../static/scripts/usuarios.js"></script>
{% endblock %}